.services{
  padding:100px 8%;
  background:#faf8f4;
}

.services-header{
  text-align:center;
  margin-bottom:70px;
}

.services-header span{
  color:#c9a227;
  font-size:1.2rem;
  font-weight:600;
}

.services-header h2{
  font-size:3.5rem;
  margin:15px 0;
}

.services-header p{
  color:#666;
  max-width:600px;
  margin:auto;
}

.service-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
}

.service-card{
  background:rgba(255,255,255,0.8);
  backdrop-filter:blur(10px);

  padding:30px;
  border-radius:40px 10px 40px 10px;

  text-align:center;

  box-shadow:0 10px 30px rgba(0,0,0,.08);

  transition:.5s ease;
}

.service-card:hover{
  transform:translateY(-15px);
  box-shadow:0 20px 40px rgba(0,0,0,.15);
}

.service-image{
  width:180px;
  height:180px;

  margin:auto;
  margin-bottom:25px;

  border-radius:50%;

  overflow:hidden;

  border:6px solid #c9a227;
}

.service-image img{
  width:100%;
  height:100%;
  object-fit:cover;

  transition:.6s;
}

.service-card:hover img{
  transform:scale(1.15);
}

.service-card h3{
  font-size:1.5rem;
  margin-bottom:15px;
  color:#111;
}

.service-card p{
  color:#666;
  line-height:1.7;
}
.service-card:last-child{
  background:linear-gradient(
    135deg,
    #fff8e8,
    #fff
  );
}

/* Mobile */

@media(max-width:768px){

.services-header h2{
  font-size:2.5rem;
}

.service-image{
  width:140px;
  height:140px;
}

}